<div class="row">
  <% @posts.each do |post| %>
    <div class="col-3">
      <h4>
        <% if post.user %>
          <%= post.user.first_name %> <%= post.user.last_name %>
        <% else %>
          Anonymous
        <% end %>
      </h4>
      <img src="<%= post.image %>" class="img-fluid w-full">
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>
